@model List<Variants>
@{
    ViewData["Title"] = "Распределение горячего дутья и природного газа по фурмам доменной печи";
}

<div>
    <h1 class="h1">Cистема распределения горячего дутья  и природного газа по фурмам доменной печи</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Название варианта</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var variant in Model)
        {
            <tr>
                <td>@variant.Name</td>
                 <td>
                    <a href="/Modeling/Vvod?VariantId=@variant.VariantId">Открыть</a> /
                    <a href="/Modeling/Index?RemoveVariantId=@variant.VariantId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>