@{
    ViewData["Title"] = "Информация о программе";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="https://vk.com/away.php?to=http%3A%2F%2Fmaxcdn.bootstrapcdn.com%2Fbootstrap%2F4.0.0-alpha.4%2Fcss%2Fbootstrap.min.css&cc_key=" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
<style>
    table {
        width: 100%; /* Ширина таблицы */
        border: 0; /* Граница вокруг таблицы */
        border-spacing: 7px 5px; /* Расстояние между границ */
    }

    td {
        border: 1px solid #333; /* Граница вокруг ячеек */
        padding: 10px; /* Поля в ячейках */
    }



   
</style>
<table>
    <tbody>

        <tr>
            <td style="vertical-align:middle; width:35%">Тема работы</td>
            <td style="vertical-align:middle; width:35%">Разработка информационно-моделирующей системы распределения горячего дутья и природного газа по фурмам доменной печи</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Вид работы</td>
            <td style="vertical-align: middle">Дипломная работа</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Версия ПО</td>
            <td style="vertical-align:middle">1.0</td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align:middle">Разработчик</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Першин Андрей Андреевич</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">НМт-463907</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Руководитель</td>
            <td style="vertical-align:middle">Гурин Иван Александрович</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Образовательное учреждение</td>
            <td style="vertical-align:middle">ФГАОУ ВО "Уральский федеральный университет имени первого Президента России Б.Н. Ельцина"</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Направление</td>
            <td style="vertical-align:middle">09.03.02 Информационные системы и технологии</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Кафедра</td>
            <td style="vertical-align:middle">Теплофизика и информатика в металлургии (ТИМ)</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Город</td>
            <td style="vertical-align:middle">Екатеринбург</td>
        </tr>
        <tr>
            <td style="vertical-align:middle">Год</td>
            <td style="vertical-align:middle">2020</td>
        </tr>
    </tbody>
</table>
